.inside221Container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 60px);
  margin: 30px auto;
  width: 95%;
}

.title {
  height: 80px;
  /* border: 2px solid black; */
  width: fit-content;
}

.left-column {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  /* border: 2px solid black; */
}

.middle-column {
  width: 60%;
  position: relative;
  /* border: 2px solid black; */
}

.right-column {
  width: 20%;
  /* border: 2px solid black; */
}

.room-image {
  width: 100%;
  height: auto;
  /* max-height: 98vh; */
  /* border: 2px solid black; */
}

/*fix*/
.darkmode {
  position: absolute;
  margin: auto 0;
  top: 3%;
  left: 3%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 50px;
}

.sliders {
  display: block;
  width: 175px;
  /* border: 2px solid black; */
  height: fit-content;
}

.add-friends {
  display: block;
  max-width: 250px;
  height: 250px;
  /* border: 2px solid black; */
  width: fit-content;
}

.music-player {
  display: block;
  max-width: 250px;
  max-height: 250px;
}

.music-player-mobile {
  display: none;
  max-width: 250px;
  max-height: 250px;
}

.doorContainer {
  /* text-align: center;
  position: relative; */
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: 0px auto;
  /* width: 95%; */
  /* border: 2px solid black; */
}

.center {
  height: fit-content;
  width: 100%;
}

.door-image {
  width: 50%;
  height: auto;
}

.knock-button {
  height: auto;
  display: flex;
  position: absolute;
  margin: auto 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.friend {
  display: flex;
  /* position: absolute;
  margin: auto 0; */
  z-index: 9;
  width: 100%;
  position: absolute;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .inside221Container {
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
  }

  .title {
    height: 20px;
  }

  .left-column {
    width: 100%;
    align-items: center;
  }

  .middle-column {
    width: 100%;
  }

  .right-column {
    width: 100%;
  }

  .room-image {
    max-width: 100%;
  }

  .darkmode {
    position: absolute;
    margin: auto 0;
    top: 1%;
    left: 5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 50px;
  }

  .sliders {
    display: block;
    max-width: 200px;
  }

  .add-friends {
    display: block;
    height: auto;
    margin: 30px auto;
  }

  .music-player {
    display: none;
  }

  .music-player-mobile {
    display: block;
  }

  .doorContainer {
    /* text-align: center;
    position: relative; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 0px auto;
    /* width: 95%; */
    /* border: 2px solid black; */
  }

  .door-image {
    width: 100%;
    /* max-width: 700px; */
    height: auto;
  }

  .knock-button {
    /* position: absolute; */
    height: fit-content;
    /* margin: auto 0; */
    /* top: 50%;
    left: 50%; */
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    /* transform: translate(50%, 50%); */
  }
}
