.inside221Container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 60px);
  margin: 30px auto;
  width: 95%;
  position: relative;
}

.title {
  height: 80px;
  width: fit-content;
}

.left-column {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
}

.middle-column {
  width: 60%;
  position: relative;
}

.right-column {
  width: 20%;
}

.room-image {
  width: 100%;
  height: auto;
  z-index: 8;
}

.darkmode {
  position: absolute;
  margin: auto 0;
  top: 1%;
  left: 47%;
  width: fit-content;
  height: auto;
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 50px; */
}

.sliders {
  display: block;
  width: 175px;
  height: fit-content;
  text-align: center;
}

.add-friends {
  display: block;
  max-width: 250px;
  height: 250px;
  width: fit-content;
}

.music-player {
  display: block;
  max-width: 250px;
  max-height: 250px;
}

.music-player-mobile {
  display: none;
  max-width: 250px;
  max-height: 250px;
}

.doorContainer {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: 0px auto;
}

.center {
  height: fit-content;
  width: 100%;
}

.door-image {
  width: 50%;
  height: auto;
}

.knock-button {
  height: auto;
  display: flex;
  position: absolute;
  margin: auto 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.friend {
  display: flex;
  z-index: 9;
  width: 100%;
  position: absolute;
  height: auto;
}

.alex {
  display: flex;
  z-index: 7;
  width: 100%;
  position: absolute;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .inside221Container {
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
  }

  .title {
    height: 20px;
  }

  .left-column {
    width: 100%;
    align-items: center;
  }

  .middle-column {
    width: 100%;
  }

  .right-column {
    width: 100%;
  }

  .room-image {
    max-width: 100%;
  }

  .darkmode {
    position: absolute;
    margin: auto 0;
    top: 1%;
    left: 5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 50px;
  }

  .sliders {
    display: block;
    max-width: 200px;
  }

  .add-friends {
    display: block;
    height: auto;
    margin: 30px auto;
  }

  .music-player {
    display: none;
  }

  .music-player-mobile {
    display: block;
  }

  .doorContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 0px auto;
  }

  .door-image {
    width: 100%;
    height: auto;
  }

  .knock-button {
    height: fit-content;
    transform: translate(-50%, -50%);
  }
}
